*.DS_Store
*.log
*.cookie
*.swp
*~.nib
*.pbxuser
*.perspective
*.perspectivev3
*.obj
*.o
*.pyc
*.project
*.pydevproject
*__pycache__
*.pdf
*.tiff
*.7z
*.txt
*.gz
*.zip
*.tar
*.bz2
*pb2.py
*.settings
*.tmproj
*.idea
bundle/test