{% extends "base.html" %}
{% block page-title %}Farseer | News-Media Analytics{% endblock %}



{% block page-content %}


{%include "search/search_navbar.html" %}


<br/><br/>



<div class="row-fluid">
	<div style="width:512px;margin: 0 auto 0 auto;">
		<form action="/">
		<div class="form-inline">
			<div class="input-append">
				<input	name="tx"
						type="text"
						value="{{ token_text }}"
						style="width:320px;"
				/>
				<button type="submit"
						style="margin-left:-5px;"
						class="btn">
						Search for Associaions
				</button>
			</div>
		</div>
		</form>
	</div>
</div>


<br/><br/><br/><br/>



<div class="row-fluid">

	<div class="span2">
		A
	</div>


	<div class="span8">
		<div class="row-fluid">
			{%  include "search/token_coo.html" %}
		</div>
	</div>

	

	{% if related %}
	<div class="span2">
		<h4>Syntactically similar:</h4>
		<br/>
		<ul>
			{% for tk in related %}
				<li style="margin: 0 0 8px 0;">
					<a href='/?id={{ tk.id }}'>{{ tk.visible_text }}</a>
{#					{% if tk.nertag %}#}
{#						<span>#}
{#							{{ tk.nertag }}#}
{#						</span>#}
{#					{% endif %}#}
				</li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}


</div>


{% endblock %}


{% block css %}
	<link href="/www/css/farseer.css" rel="stylesheet">
{% endblock %}
{% block js %}
	<script src="/www/js/highcharts.js"></script>
	<script src="/www/js/bootstrap-tooltip.js"></script>
	<script src="/www/js/bootstrap-popover.js"></script>
	<script src="/www/js/bootstrap-transition.js"></script>
	<script src="/www/js/farseer.js"></script>
{% endblock %}