<div class="fs-section">
	<h3 class="fs-section-label">
		Common Parameters
	</h3>
	<div class="fs-body">
		<table class="table table-bordered table-condensed">
			<tbody>
			<tr>
				<td class="fs-stripped">ID</td>
				<td style="text-align:center;">
					{{ active.common.address }}
				</td>
				<td class="fs-stripped">Done</td>

			</tr>
			<tr>
				<td class="fs-stripped">Status</td>
				<td style="text-align:center;">
					{{ active.common.status }}
				</td>
				<td rowspan="4"
					style="vertical-align:middle;text-align:center;width:192px;">
									<span style="font-size:25px;">
										{{ active.common.complete_percentage|floatformat }}%
									</span>
				</td>
			</tr>
			<tr>
				<td class="fs-stripped">Total Tasks</td>
				<td style="text-align:center;">
					{{ active.common.total_tasks }}
				</td>
			</tr>
			<tr>
				<td class="fs-stripped">Complete Tasks</td>
				<td style="text-align:center;">
					{{ active.common.complete_tasks }}
				</td>
			</tr>
			<tr>
				<td class="fs-stripped">Errors Occurred</td>
				<td style="text-align:center;">
					{{ active.common.errors_occurred }}
				</td>
			</tr>
			<tr>
				<td style="text-align:right;" colspan="2">
					Tasks Dropped
				</td>
				<td style="text-align:center;">
					{{ active.common.dropped_tasks }}
				</td>
			</tr>
			<tr>
				<td style="text-align:right;" colspan="2">
					Tasks Cached
				</td>
				<td style="text-align:center;">
					{{ active.common.cached_tasks }}
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>