{% extends "base.html" %}
{% block page-title %}Collector | Application Index{% endblock %}
{% block page-content %}

	{% include "collector/collector_navbar.html" %}


	<div class="row-fluid">


		<div class="span3">
			{% include "collector/service_list.html" %}
			{% include "collector/bundle_list.html" %}
			{% include "collector/dataset_list.html" %}
		</div>

		<div class="span9">


			<div style="margin-bottom:32px;">


				<h1>
					<span style="color:#BEBEBE;">service:</span>
					{{ active.common.name }}
				</h1>


			</div>


			{% include "collector/service_common_state.html" %}

			<br/>

			{% include "collector/service_control_device.html" %}

			<br/>

			{% include "collector/service_session_device.html" %}

			<br/>

			{% include "collector/service_error_log_device.html" %}


		</div>
	</div>

{% endblock %}


{% block css %}
	<link href="/www/css/farseer.css" rel="stylesheet">
	<link href="/www/css/highlightjs/idea.css" rel="stylesheet">
{% endblock %}
{% block js %}
	<script src="/www/js/bootstrap-modal.js"></script>
	<script src="/www/js/bootstrap-transition.js"></script>
	<script src="/www/js/highlight.js"></script>
	<script src="/www/js/highlight.pack.js"></script>
	<script src="/www/js/farseer.js"></script>
{% endblock %}