<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Farseer Index</title>
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- Le styles -->
		<link href="/www/css/bootstrap.css" rel="stylesheet">
		<style type="text/css">
			body {
				padding-top: 60px;
				padding-bottom: 40px;
			}
			.navbar-fixed-top .brand {
				padding-right: 0;
				padding-left: 0;
				margin-left: 20px;
				float: right;
				font-weight: bold;
				color: #000;
				text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
				-webkit-transition: all .2s linear;
				-moz-transition: all .2s linear;
				transition: all .2s linear;
			}
			.navbar-fixed-top .brand:hover {
				text-decoration: none;
			}
		</style>
		<link href="/www/css/bootstrap-responsive.css" rel="stylesheet">

	</head>

	<body>

		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="/">Farseer Project</a>
				</div>
			</div>
		</div>

		<div class="container">

			<div class="row-fluid">
				<div class="span6">
					<h2>results for "{{ query }}"</h2>
				</div>
				<div class="span6">
					<a class="btn btn-primary" href="/">return</a>
				</div>
			</div>

			{% for result in results %}
				<br/>
				<div>
					<h6>
						found
						{{ result.subset_size }}
						documents, since
						{{ result.time.start|date:"Y.m" }}–{{ result.time.end|date:"Y.m" }}
					</h6>
					<table class="table table-bordered table-striped table-condensed">
						<thead>
							<tr/>
								<th></th>
								<th>term</th>
								<th>score</th>
								<th>delta</th>
							</tr>
						</thead>
						<tbody>
							{% for row in result.data %}
								<tr>
									<td>{{ row.idx }}</td>
									<td> {{ row.term }}</td>
									<td> {{ row.score|floatformat:3 }}</td>
									<td>
										{% if row.delta > 6 %}
										<span class="label label-success">+{{ row.delta }}</span>
										{% endif %}
										{% if row.delta > 2 and row.delta <= 6 %}
										<span class="label label-info">+{{ row.delta }}</span>
										{% endif %}
										{% if row.delta >= -2 and row.delta <= 2  %}
										<span class="label">{{ row.delta }}</span>
										{% endif %}
										{% if row.delta < -2 and row.delta >= -6 %}
										<span class="label label-warning">{{ row.delta }}</span>
										{% endif %}
										{% if row.delta < -6 %}
										<span class="label label-important">{{ row.delta }}</span>
										{% endif %}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<hr/>
				<br/>
			{% endfor %}

			<hr>
			<footer>
				<p>&copy; Farsser Project 2012</p>
			</footer>

		</div>
		<script src="/www/js/bootstrap-transition.js"></script>
		<script src="/www/js/bootstrap-collapse.js"></script>

	</body>
</html>
