<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% block page-title %}Untitled Page{% endblock %}</title>
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- *le JavaScript -->
		<script src="/www/js/jquery-1.7.1.min.js"></script>
		<script src="/www/js/jquery.json.js"></script>
		{% block js-head %}{% endblock %}

		<!-- *le styles -->
		<link href="/www/css/bootstrap.css" rel="stylesheet">
		<link href="/www/css/bootstrap-responsive.css" rel="stylesheet">
		<style type="text/css">
			body {
				padding-top: 0;
				padding-bottom: 40px;
			}
		</style>
		{% block css %}{% endblock %}
	</head>
	<body>
		<div class="container-fluid" style="margin:0 64px 0 64px;min-width:1024px;">

			<div class="row-fluid">
				<div style="width:320px;margin: 10px 0  16px -64px;">
					<img class="light-start" src="/www/logo.png"/>
				</div>
			</div>

			{% block page-content %}{% endblock %}
			{% block js %}{% endblock %}

			<hr style="margin: 100px 0 0 0;"/>

			<div class="row-fluid">
				<footer>
					<p style="margin:32px 0 128px 0;">
						Farseer Project
						<span style="color:#CCCCCC;">
							this page is made by Vladimir Zaytsev
							<a style="color:#CCCCCC;" href="https://twitter.com/#!/vladimirzaytsev">
								@vladimirzaytsev
							</a>
						</span>
					</p>
				</footer>
			</div>

		</div>
	</body>
</html>
